@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
strong{
    justify-content: center;
}

body{
    background-image: linear-gradient(to right,
    rgb(190, 53, 106),rgb(255, 179, 37));
   
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-align: top;
    font-size: 45px;
    padding: 0%;
    margin: 0%;

}
#icono{
    font-size: 65px;
    

}
.todo-text{
    

    color: white;
    padding-left: 40px;
    padding-top: 30px;
    word-spacing: -11px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 7px 7px #000000;
  


}



.texto-submit{
    display: flex;
    
    
   
}
.input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: #000000;
    box-shadow: 7px 7px #000000;
   
}
.boton-submit{
 font-family: 'M PLUS Rounded 1c', sans-serif;
 font-weight: bolder;
 border-radius: 20%;
 border-top-left-radius: 0px;
 border-bottom-left-radius: 0px;
 padding: 10px 25px;
 text-align: center;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
 border-color: #000000;
 color: black;
 font-size: 20px;
 /* text-shadow: 3px 3px white; */

 box-shadow: 7px 7px #000000;
 background: rgb(34,193,195);
 background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.boton-submit:hover{

 background: rgb(190,53,106);
 background: linear-gradient(274deg, rgba(255,179,37,1)0% ,rgba(190,53,106,1) 100%);
 cursor: pointer;


}
.item i{
    cursor: pointer;
    margin: 0 5 px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.item {
  
    justify-content: right;
   
    
}
.item-texto{    
    display: flex;
    justify-content: space-between;
    width: 50% ;
    height: auto;
    border-radius: 15px;
    padding: 16px;
    background-color: aliceblue;
    margin-top: 20px;
    font-size: large;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    overflow-wrap: normal;

    box-shadow: 7px 10px #000000;
}

.item-texto:hover{
    box-shadow: 0 0 20px rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255);
    transition: 0.3s;
    border:solid skyblue;
}
.to-do-items{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:768px){
    h1{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #icono{
        font-size: 40px;
        
    
    }
    header{
        align-items: center;
        flex-direction: column;
    }
    .item-texto{
        width: 80%;
    }
    .input{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-color: #000000;
        box-shadow: 7px 7px #000000;
    
    }
}